@(screenName: String, links: Seq[ranking.Link])

<!DOCTYPE html>
<html>
<head>
    <title>Guardian Hotlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/main.css" rel="stylesheet" media="screen">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner"><div class="container"><a class="brand" href="#">Guardian Hotlist</a></div></div>
    </div>

    <div class="container">
        <h1>@@@screenName hotlist</h1>
                @for(link <- links) {

                <div class="fluid-row">
                    <div class="span12">
                        <hr>
                        <div class="fluid-row">
                            <div class="span4">
                                <img src="@link.image.getOrElse("assets/img/gu-logo.png")" alt="gu logo">
                            </div>
                            <div class="span6">
                                <h4><a href="@link.url">@link.title.getOrElse("No title")</a></h4>
                                    @link.shares match {
                                    case 1 => {
                                    <p>1 share</p>
                                    }

                                    case n => {
                                    <p>@n shares</p>
                                    }
                                        }
                                </div>
                                </div>
                            </div>
                        </div>
                }

    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>