@(links: Seq[ranking.Link])

<!DOCTYPE html>
<html>
<head>
    <title>Guardian Hotlist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/main.css" rel="stylesheet" media="screen">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner"><div class="container"><a class="brand" href="#">Guardian Hotlist</a></div></div>
    </div>

    <div class="container">
        <h1>@@gdndevelopers hotlist</h1>

        <div class="fluid-row">
            <ul class="thumbnails">
                @for(link <- links) {

                <li class="span3">
                    <div class="thumbnail">
                        <img src="@link.image.getOrElse("assets/img/gu-logo.png")" alt="gu logo">
                        <div class="caption">
                          <h3><a href="@link.url">@link.title.getOrElse("No title")</a></h3>
                        </div>
                    </div>
                </li>

                }
            </ul>
        </div>

    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>